 /* Fira Sans bold */
 @font-face{
    font-family: "Fira Sans";
    src: url('fonts/fira/eot/FiraSans-Bold.eot');
    src: url('fonts/fira/eot/FiraSans-Bold.eot') format('embedded-opentype'),
         url('fonts/fira/woff/FiraSans-Bold.woff') format('woff'),
         url('fonts/fira/woff2/FiraSans-Bold.woff2') format('woff2'),
         url('fonts/fira/woff2/FiraSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
/* Fira Sans bold italic */
@font-face {
    font-family: "Fira Sans";
    src: url('fonts/fira/eot/FiraSans-BoldItalic.eot');
    src: url('fonts/fira/eot/FiraSans-BoldItalic.eot') format('embedded-opentype'),
         url('fonts/fira/woff2/FiraSans-BoldItalic.woff2') format('woff2'),
         url('fonts/fira/woff/FiraSans-BoldItalic.woff') format('woff'),
         url('fonts/fira/woff2/FiraSans-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

.row{
    display: flex;
    background-color: rgb(0%, 0%, 0%, 0%);
}
.square{
    background-color: rgb(241, 241, 241);
}
.draw{
    background-color: rgb(0, 0, 0);
}
button{     
    padding: 10px 7px 10px 7px;
    border-radius: 5px;
    background-color: rgba(0%, 0%, 0%, 98%);
    color: white;
    border-width: 0;
    font-weight: bold;
    font-size: 10px;
    transition: 0.2s ease-in-out 0s;
    font-style: italic;
}
.button-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.button-main{
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 10px;
    flex-wrap: wrap;
}
header{
    font-weight: bold;
    font-size: 100px;
    color: rgb(255, 255, 255);
    margin-bottom:50px;
    background-color: rgba(0%, 0%, 0%, 50%);
    padding: 50px 10px 50px 80px;
    border-radius: 5px;
}
body{
    font-family:"Fira Sans", monospace;
    display: flex;
    flex-direction: column;
    margin: 0 0;
    background-image:url("./pics/pexels-ave-calvar-martinez-5038394.jpg");
    background-size: cover;
}
em{
    color: rgb(0, 0, 0);
    background-color: white;
    padding-right: 10px;
    padding-left: 10px; 
}
.hover{
    cursor: pointer;
    transform: scale(1.1);
    background-color: rgb(241, 241, 241);
    color: black;
}
footer{
    padding: 18px 0 18px 0;
    margin-top: auto;
    text-align: center;
    background-color: rgba(0%, 0%, 0%, 50%);
    color: white;
    font-size: 15px;
}
main{
    margin-bottom: 65px;    
}